body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.card-header h5 {
    margin: 0;
}

.card-header small {
    color: #6c757d;
}

.card-img-top img {
    width: 100%;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.text-content {
    display: block;
    padding: 2;
    margin: 2;
}

.text-content p {
    margin: 0.5;
}

.text-like {
    margin: 0;
}

.text-muted {
    color: #6c757d;
    margin: 5px 0;
}

.icon-1 {
    display: flex;
    align-items: center;
}

.icon-2 {
    display: flex;
    align-items: center;
    margin-left: auto;
}
